/* STYLESHEET TABLE OF CONTENTS
    1 Setup
        1.1 Variables
        1.2 Fonts
        1.3 General styling
    2 Reusable sections
        2.1 Header
    3 Page specific styling
        3.1 Main page
            3.1.1 People cards
        3.2 FAQ page
        3.3 Guides page
    4 Individual elements
        4.1 Dividers
 */

//====================================
// 1 Setup
//====================================

// 1.1 Variables
$light: #f7eade;
$accent-light: #a69cac;
$accent: #474973;
$accent-dark: #161b33;
$dark: #0d0c1d; // Deep navy blue

// 1.2 Fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

// 1.3 General styling
body
{
    background: $dark;
    color: $light;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

//====================================
// 2 Reusable sections
//====================================

// 2.1 Header
.header
{
    display: flex;
    justify-content: space-around;
    background: $accent-dark;
    padding: 1rem;
    align-items: center;

    h1
    {
        font-weight: 900;
    }

    a
    {
        text-align: center;
        justify-content: center;
        color: $light;
        text-decoration: none;
        font-size: 22px;
        //transition: ease 500ms; TODO: Fix this when we get the underline

        &:hover
        {
            // TODO samuel fix our underline transition
            //      transform: scale(1.1);
            text-decoration: underline;
        }
    }
}


#left
{
    align-content: flex-start;
}

// 2.2 Index Bar
.side-bar
{
    background: $accent;
}


//====================================
// 3 Page specific styling
//====================================

// 3.1 Main page
#content
{
    text-align: center;

    > *
    {
        margin: 0 auto;
        max-width: 60ch;
    }
}

// 3.1.1 People cards
$card-width: 15em;

.item-flex
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1em;
    width: $card-width;
    text-align: center;
    border-radius: 5%;
    background: $accent;
    margin: 2em;
}

.person-img
{
    width: $card-width;
    padding-bottom: 1em;
    user-select: none;
    border-radius: 5%;
}

#github-link
{
    text-decoration: underline;
    color: $light;
}

//====================================
// 4 Individual elements
//====================================

// 4.1 Dividers
hr
{
    margin: 2rem auto !important;
    width: 20ch;
    border: none;
    border-top: 1px solid $light;
}